apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: azureassignedidentities.aadpodidentity.k8s.io
spec:
  group: aadpodidentity.k8s.io
  version: v1
  names:
    kind: AzureAssignedIdentity
    plural: azureassignedidentities
  scope: Namespaced
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: azureidentitybindings.aadpodidentity.k8s.io
spec:
  group: aadpodidentity.k8s.io
  version: v1
  names:
    kind: AzureIdentityBinding
    plural: azureidentitybindings
  scope: Namespaced
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: azureidentities.aadpodidentity.k8s.io
spec:
  group: aadpodidentity.k8s.io
  version: v1
  names:
    kind: AzureIdentity
    singular: azureidentity
    plural: azureidentities
  scope: Namespaced
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: azurepodidentityexceptions.aadpodidentity.k8s.io
spec:
  group: aadpodidentity.k8s.io
  version: v1
  names:
    kind: AzurePodIdentityException
    singular: azurepodidentityexception
    plural: azurepodidentityexceptions
  scope: Namespaced
---
apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  labels:
    kubernetes.io/cluster-service: "true"
    component: nmi
    tier: node
  name: nmi
  namespace: default
spec:
  template:
    metadata:
      labels:
        component: nmi
        tier: node
    spec:
      hostNetwork: true
      volumes:
      - hostPath:
          path: /run/xtables.lock
          type: FileOrCreate
        name: iptableslock
      containers:
      - name: nmi
        image: "mcr.microsoft.com/k8s/aad-pod-identity/nmi:1.5.2"
        imagePullPolicy: Always
        args:
          - "--host-ip=$(HOST_IP)"
          - "--node=$(NODE_NAME)"
        env:
          - name: HOST_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
        securityContext:
          privileged: true
          capabilities:
            add:
            - NET_ADMIN
        volumeMounts:
        - mountPath: /run/xtables.lock
          name: iptableslock
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 5
      nodeSelector:
        beta.kubernetes.io/os: linux
---
apiVersion: v1
data:
  Cloud: <base64-encoded-cloud>
  SubscriptionID: <base64-encode-subscription-id>
  ResourceGroup: <base64-encoded-resource-group>
  VMType: <base64-encoded-vm-type>
  TenantID: <base64-encoded-tenant-id>
  ClientID: <base64-encoded-client-id>
  ClientSecret: <base64-encoded-client-secret>
kind: Secret
metadata:
  name: aadpodidentity-admin-secret
  namespace: default
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    component: mic
  name: mic
  namespace: default
spec:
  replicas: 2
  template:
    metadata:
      labels:
        component: mic
    spec:
      containers:
      - name: mic
        image: "mcr.microsoft.com/k8s/aad-pod-identity/mic:1.5.2"
        imagePullPolicy: Always
        args:
          - "--kubeconfig=/etc/kubernetes/kubeconfig/kubeconfig"
          - "--logtostderr"
        env:
          - name: CLOUD
            valueFrom:
              secretKeyRef:
                key: Cloud
                name: aadpodidentity-admin-secret
          - name: SUBSCRIPTION_ID
            valueFrom:
              secretKeyRef:
                key: SubscriptionID
                name: aadpodidentity-admin-secret
          - name: RESOURCE_GROUP
            valueFrom:
              secretKeyRef:
                key: ResourceGroup
                name: aadpodidentity-admin-secret
          - name: VM_TYPE
            valueFrom:
              secretKeyRef:
                key: VMType
                name: aadpodidentity-admin-secret
          - name: TENANT_ID
            valueFrom:
              secretKeyRef:
                key: TenantID
                name: aadpodidentity-admin-secret
          - name: CLIENT_ID
            valueFrom:
              secretKeyRef:
                key: ClientID
                name: aadpodidentity-admin-secret
          - name: CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                key: ClientSecret
                name: aadpodidentity-admin-secret
        volumeMounts:
          - name: kubeconfig
            mountPath: /etc/kubernetes/kubeconfig
            readOnly: true
          - name: certificates
            mountPath: /etc/kubernetes/certs
            readOnly: true
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 5
      volumes:
      - name: kubeconfig
        hostPath:
          path: /var/lib/kubelet
      - name: certificates
        hostPath:
          path: /etc/kubernetes/certs
      nodeSelector:
        beta.kubernetes.io/os: linux
