apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: nmi
  name: demo
  namespace: default
spec:
  template:
    metadata:
      labels:
        app: demo
    spec:
      containers:
      - name: demo
        image: "nikhilbh/demo:1.0"
        imagePullPolicy: Always
        env:
        - valueFrom:
            fieldRef:
              fieldPath: metadata.name
            name: MY_POD_NAME
        - valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
            name: MY_POD_NAMESPACE
        env:
        - name: MY_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: MY_POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: MY_POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP